.popin {
    position: fixed;
    display: none;
    opacity: 0;
    top: 60%;
    left: 50%;
    background: $primary-color;
    padding: 30px 30px 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba($black, .2);
    border-radius: 10px;
    color: $white;
    z-index: 10;
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.-active {
        opacity: 1;
        top: 50%;
    }

    &.map {
        z-index: 100;
    }

    .wrapper-title {
        max-width: 290px;
        margin-bottom: 15px;

        .title {
            font-size: 25px;
        }

        .title-rating-user {
            font-size: 25px;
        }
    }
}